* {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}
form button, form input {
	width: 173px;
}
form button {
	background-color: #f0f0f0;
}
.logo {
	flex-direction: column;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background-color: #e8f0fe;
	padding: 10px 0 10px;
}
.container {
	text-align: center;
	max-width: 768px;
	margin: 0 auto;
	max-width: 100%;
	overflow: auto;
}
.subheader {
	border-top: 2px solid #e1e1e1;
	border-bottom: 2px solid #e1e1e1;
}
.children {
	width: 100%;
}
.children a {
	text-decoration: none;
	color: #5a86ad;
	font-weight: bold;
}
.children a:hover {
	border-bottom: 2px solid #5a86ad;
}
.children a:visited {
	color: #5a86ad;
}
.marks {
	margin: 0 auto;
	border-collapse: collapse;
}
.marks td, .marks th {
	padding: 5px;
	border: 1px solid #e1e1e1;
}
.marks tr:nth-child(even) {
	background-color: #f0f0f0;
}
.mark {
	word-wrap: break-word;
	text-align: center;
}